.topbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--top-bar-height);
  width: 100%;
}

.greet-today {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 4rem;
}

.greet-today > .name {
  font-size: 1.345rem;
  font-weight: 500;
}

.greet-today > .date {
  font-size: 1.2rem;
  font-weight: 400;
  color: hsl(219, 17%, 55%);
}

.btn-dropdown-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.btn-dropdown-container button {
  height: max-content;
}

.btn-dropdown-container .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-dropdown {
  display: flex;
}

.user-dropdown .image-container {
  position: relative;
  height: 4rem;
  width: 4rem;

}
