.sidebar-container {
  height: 100%;
  min-width: 10%;
}

.banner-btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--topbar-height);
}

.banner-container {
  position: relative;
  height: 26px;
  width: 118px;
}

.banner-btn-container > .button {
  cursor: pointer;
  user-select: none;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  height: calc(100% - var(--topbar-height));
}

.links-container > div {
  width: 100%;
}

h2.name {
  font-size: 1rem;
  font-weight: 300;
}
